@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

$white: #fff;
$ten: 10px;
$zero: 0 0 0 0;

html,
body {
	min-height: 100%;
}

body {
	background: darken( $white, 10% );
	font: 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: darken( $white, 100% );
	margin: $zero;
	padding: $zero;
}

a {
	text-decoration: none;
}

ul.pills li,
a {
	transition: all 0.5s ease;
}

header {
	z-index: 3;
	position: fixed;
	top: $ten;
	left: $ten;

	img {
		height: $ten * 2;
	}
}

nav,
section.copy {
	background: $white;
}

nav {
	clear: both;
	text-align: center;
	border-bottom: $ten - 9 solid darken( $white, 20% );
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;

	ul.pills {
		padding: $zero;
		margin: 0 auto 0 auto;
		display: inline-block;

		li {
			display: inline-block;
			padding: $ten;
			cursor: pointer;
			border-bottom: $ten - 8 solid $white;

			&.active {
				border-bottom: $ten - 8 solid #0F5699;
			}

			&:hover {
				border-bottom: $ten - 8 solid #BD2B2B;
			}

			a {
				color: darken( $white, 100% );
			}
		}
	}
}

header div.container,
article {
	margin: 0 auto 0 auto;
}

footer {
	text-align: center;
	width: 100%;
	clear: both;
	margin-top: $ten * 3;
}

article {
	margin-top: $ten * 7 !important;

	section.copy {
		border: $ten - 9 solid darken( $white, 25% );
		background: $white;
		line-height: 1.6em;
		overflow: auto;
		margin: 0 auto $ten auto;
		width: 96%;
		min-height: $ten * 15;

		> * {
			margin: $ten * 2;
		}

		div.chart {
			margin: 0 $ten * 1.5 $ten * 1.5 0;
			float: right;
		}

		section.charts {
			display: inline-block;
			width: 60%;
			float: right;
		}

		section.grid {
			text-align: left;

			&.hasCharts {
				width: 40%;
				overflow: auto;

				input.filter {
					width: 90% !important;
				}
			}

			input.filter {
				margin: 0 !important;
				font-size: 1em;
				width: 25%;
				padding: $ten;
				border: $ten - 9 solid darken( $white, 31% );
			}
		}

		ul.header,
		ul.list {
			span[data-field='application_summary.response_time'],
			span[data-field='application_summary.apdex_score'],
			span[data-field='application_summary.throughput'],
			span[data-field='summary.cpu'],
			span[data-field='summary.memory'] {
				text-align: center;
			}
		}

		ul.header span[data-field='summary.cpu'] {
			text-transform: uppercase;
		}

		ul.list {
			margin: $zero;
			padding: $zero;
			
			&.hasCharts {
				height: 750px;
				overflow: auto;
			}

			&.pages {
				margin-top: $ten * 2.5;
				margin-bottom: 0 !important;
				height: auto !important;

				li {
					background-color: $white !important;
				}
			}

			li {
				line-height: 1em;
				padding: $ten;
				list-style: none;
				vertical-align: text-top !important;

				&:nth-child(odd) {
					background-color: darken( $white, 11% );
				}

				span.metric {
					font-weight: normal;
					display: block;

					span.name {
						display: inline-block;
						width: 60%;
					}

					span.value {
						font-weight: bold;
					}
				}

				.green {
					color: green;
				}

				.orange {
					color: orange;
				}

				.red {
					color: red;
				}

				a.tooltip {
					color : darken( $white, 100% ) !important;

					&:hover {
						color : darken( $white, 100% ) !important;
						cursor: help;
					}
				}
			}
		}
	}
}

footer,
article {
	a {
		color: #0F5699;

		&:hover {
			color: #01203D;
		}
	}
}

.hidden {
	display: none !important;
}

.empty {
	text-align: center;
}

// Smaller than 1080p
@media print, screen and (min-width: $ten * 158) and (max-width: $ten * 190) {
	section.charts {
		width: 70% !important;
	}

	section.grid.hasCharts {
		width: 30% !important;

		input.filter {
			width: 90% !important;
		}
	}
}

// Smaller desktop monitor
@media print, screen and (min-width: $ten * 111.5) and (max-width: $ten * 157.9) {
	section.charts {
		width: 100% !important;
		float: none !important;
		text-align: center;

		div.chart {
			float: none !important;
			display: inline-block;
		}
	}

	section.grid.hasCharts {
		width: 100% !important;
		clear: both;

		input.filter {
			width: 90% !important;
		}

		ul.list {
			height: auto !important;
			overflow: none !important;
		}
	}
}

// Mobile devices
@media print, screen and (max-width: $ten * 111.4) {
	section.charts {
		width: 100% !important;
		float: none !important;
		text-align: center;

		div.chart {
			float: none !important;
			display: inline-block;
		}
	}

	section.grid.hasCharts {
		width: 100% !important;
		clear: both;

		input.filter {
			width: 90% !important;
		}

		ul.list {
			height: auto !important;
			overflow: none !important;
		}
	}
}

@media print, screen and (max-width: $ten * 95) {
	header {
		display: none !important;

		img {
			display: none !important;
		}
	}
}
