div.chart {
	margin: 0 25px 25px 0;
	float: left;
}

.grid .filter {
	margin: 0 !important;
}

ul.header,
ul.list {
	span[data-field='application_summary.response_time'],
	span[data-field='application_summary.apdex_score'],
	span[data-field='application_summary.throughput'] {
		text-align: center;
	}
}

ul.list {
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	li {
		list-style: none;
		vertical-align: text-top !important;

		span.metric {
			font-weight: normal;
			display: block;

			span.name {
				display: inline-block;
				width: 60%;
			}

			span.value {
				font-weight: bold;
			}
		}

		.green {
			color: green;
		}

		.orange {
			color: orange;
		}

		.red {
			color: red;
		}

		a.tooltip {
			color : #000 !important;

			&:hover {
				color : #000 !important;
				cursor: help;
			}
		}
	}
}